<div class="wrapper">
  <h1>Your check-in details</h1>
  <form class="form">
    <app-accordion-group>
      <app-accordion-item
        title="Personal information"
        accordionId="personal-info"
      >
        <fieldset>
          <p class="formfield">
            <label for="firstname">First name</label>
            <input
              type="text"
              placeholder="First name"
              name="firstname"
              id="firstname"
            />
          </p>
          <p class="formfield">
            <label for="lastname">Last name</label>
            <input
              type="text"
              placeholder="Last name"
              name="lastname"
              id="lastname"
            />
          </p>
          <p class="formfield">
            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" id="email" />
          </p>
          <p class="formfield">
            <label for="phone">Phone Number</label>
            <input
              type="tel"
              placeholder="Phone number"
              name="phone"
              id="phone"
            />
          </p>
        </fieldset>
      </app-accordion-item>
      <app-accordion-item title="Address" accordionId="address">
        <fieldset>
          <p class="formfield">
            <label for="street">Street</label>
            <input type="text" placeholder="Street" name="street" id="street" />
          </p>
          <fieldset>
            <p class="formfield">
              <label for="housenr">House Nr.</label>
              <input
                type="text"
                placeholder="House Nr."
                name="housenr"
                id="housenr"
              />
            </p>
            <p class="formfield">
              <label for="zipcode">Zip Code</label>
              <input
                type="text"
                pattern="[0-9]*"
                placeholder="Zip Code"
                name="zipcode"
                id="zipcode"
              />
            </p>
          </fieldset>
          <p class="formfield">
            <label for="city">City</label>
            <input type="text" placeholder="City" name="city" id="city" />
          </p>
          <p class="formfield">
            <label for="city">Country</label>
            <input
              type="text"
              placeholder="Country"
              name="country"
              id="country"
            />
          </p>
        </fieldset>
      </app-accordion-item>
      <app-accordion-item title="Credit Card" accordionId="credit-card">
        <fieldset>
          <p class="formfield">
            <label for="ccn">Credit Card Number</label>
            <input
              id="ccn"
              name="ccn"
              type="text"
              inputmode="numeric"
              pattern="[0-9\s]{13,19}"
              autocomplete="cc-number"
              placeholder="Credit Card Number"
            />
          </p>
          <fieldset aria-describedby="cc-hint">
            <p class="formfield">
              <label for="expiry">Expiry Date</label>
              <input
                type="text"
                placeholder="MM/YY"
                name="expiry"
                id="expiry"
              />
            </p>
            <p class="formfield">
              <label for="cvv">CVV</label>
              <input
                type="text"
                pattern="[0-9]*"
                placeholder="CVV"
                name="cvv"
                id="cvv"
              />
            </p>
          </fieldset>
          <p class="formfield">
            <label for="cardholdername">Card Holder Name</label>
            <input
              type="text"
              placeholder="Card Holder Name"
              name="cardholdername"
              id="cardholdername"
            />
          </p>
          <small id="cc-hint">
            Enter your card details: its number, expiry date and, 3-digit number
            on the back of the card and the holder name.
          </small>
        </fieldset>
      </app-accordion-item>
    </app-accordion-group>
    <button type="submit" class="button">Save</button>
  </form>
</div>
