<div class="wrapper">
  <h1>Your check-in details</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-accordion-group>
      <app-accordion-item
        title="Personal information"
        accordionId="personal-info"
      >
        <fieldset formGroupName="personal">
          <p class="formfield">
            <label for="firstname">First name</label>
            <input
              type="text"
              placeholder="First name"
              formControlName="firstname"
              id="firstname"
            />
          </p>
          <p class="formfield">
            <label for="lastname">Last name</label>
            <input
              type="text"
              placeholder="Last name"
              formControlName="lastname"
              id="lastname"
            />
          </p>
          <p class="formfield">
            <label for="email">Email</label>
            <input
              type="email"
              placeholder="Email"
              formControlName="email"
              id="email"
            />
          </p>
          <p class="formfield">
            <label for="phone">Phone Number</label>
            <input
              type="tel"
              placeholder="Phone number"
              formControlName="phone"
              id="phone"
            />
          </p>
        </fieldset>
      </app-accordion-item>
      <app-accordion-item title="Address" accordionId="address">
        <fieldset formGroupName="address">
          <p class="formfield">
            <label for="street">Street</label>
            <input
              type="text"
              placeholder="Street"
              formControlName="street"
              id="street"
            />
          </p>
          <fieldset>
            <p class="formfield">
              <label for="housenr">House Nr.</label>
              <input
                type="text"
                placeholder="House Nr."
                formControlName="houseNumber"
                id="housenr"
              />
            </p>
            <p class="formfield">
              <label for="zipcode">Zip Code</label>
              <input
                type="text"
                pattern="[0-9]*"
                placeholder="Zip Code"
                formControlName="zipCode"
                id="zipcode"
              />
            </p>
          </fieldset>
          <p class="formfield">
            <label for="city">City</label>
            <input
              type="text"
              placeholder="City"
              formControlName="city"
              id="city"
            />
          </p>
          <p class="formfield">
            <label for="city">Country</label>
            <input
              type="text"
              placeholder="Country"
              formControlName="country"
              id="country"
            />
          </p>
        </fieldset>
      </app-accordion-item>
      <app-accordion-item title="Credit Card" accordionId="credit-card">
        <fieldset formGroupName="cc">
          <p class="formfield">
            <label for="ccn">Credit Card Number</label>
            <input
              id="ccn"
              formControlName="ccn"
              type="text"
              inputmode="numeric"
              pattern="[0-9\s]{13,19}"
              autocomplete="cc-number"
              placeholder="Credit Card Number"
            />
          </p>
          <fieldset aria-describedby="cc-hint">
            <p class="formfield">
              <label for="expiry">Expiry Date</label>
              <input
                type="text"
                placeholder="MM/YY"
                formControlName="expiration"
                id="expiry"
              />
            </p>
            <p class="formfield">
              <label for="cvv">CVV</label>
              <input
                type="text"
                pattern="[0-9]*"
                placeholder="CVV"
                formControlName="cvv"
                id="cvv"
              />
            </p>
          </fieldset>
          <p class="formfield">
            <label for="cardholdername">Card Holder Name</label>
            <input
              type="text"
              placeholder="Card Holder Name"
              formControlName="cardholdername"
              id="cardholdername"
            />
          </p>
          <small id="cc-hint">
            Enter your card details: its number, expiry date and, 3-digit number
            on the back of the card and the holder name.
          </small>
        </fieldset>
      </app-accordion-item>
    </app-accordion-group>
    <button
      type="submit"
      class="button"
      [disabled]="!form.valid || form.pristine"
    >
      Save
    </button>
  </form>
</div>
